<div class="row justify-content-center mb-2" style="margin-top:2rem">
  <%= form_tag book_reviews_path, method: :get, class: 'form-inline' do %>
    <div class="form-group mx-auto">
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Buscar livro por título, autor ou editora', style: 'width: 30rem;' %>
    </div>
    <%= submit_tag 'Pesquisar', class: 'btn btn-primary' %>
  <% end %>
</div>
<div class="container" style="margin-top: 4rem;">
  <% if @livros.any? %>
    <div class="row">
      <% @livros.each do |livro| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <!-- Exibir as informações do livro -->
            <img class="card-img-top mx-auto" style="max-width: 80%; height: auto;" src="<%= livro.imagem_caminho.present? ? livro.imagem_caminho : "https://gabrielchalita.com.br/wp-content/uploads/2019/12/semcapa.png"%>" alt="Imagem do Livro">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%= livro.titulo %></h5>
              <p class="card-text">Autor: <%= livro.autores %></p>
              <p class="card-text">Editora: <%= livro.editora %></p>
              <div class="mt-auto">
                <%= link_to 'Avaliar', book_review_path(livro), class: 'btn btn-primary' %>
                <%= link_to 'Ver Livro', livro_path(livro.id), class: 'btn btn-secondary' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">Nenhum livro encontrado.</p>
  <% end %>
</div>
