<%= stylesheet_link_tag 'sessions' %>
<%= favicon_link_tag 'heart.png' %>
<div class="login"><br>
  <h1 class="field" style="color: #BB61B7"><b>Leia<span style="color: #616ABB">Me</span></b></h1><br>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="container text-center">
      <div class="mx-auto row">
        <div class="mb-3 col-md-12">
        <%= f.text_field :login, class: 'form-control', id: 'floatingInput', placeholder: 'E-mail ou usuário:' %>
      </div>
      </div>
    
      <div class="mx-auto row">
        <div class="mb-3 col-md-12">
          <%= f.password_field :password, class: 'form-control', id: 'floatingInput', placeholder: 'Senha:' %>
          <%# <%= f.label :password, 'Senha', class: 'form-label', for: 'floatingInput' %> 
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mx-auto row">
          <div class=" mb-3 col-md-12" style="text-align: right">
            <%= f.check_box :remember_me %>
            <%= f.label :lembrar_de_mim %>
          </div>
        </div>
      <% end %>

      <div class=" row">
        <div class="mb-3 col-md-12 d-grid gap-2 actions" style="justify-content: s">
          <%= f.submit "Entrar", class: "btn btn-primary", style:"background-color: #5649A7" %>
        </div>
      </div>
      
    </div>
  <% end %>

  <div class="mx-auto row">
    <div class="col-md-12">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>