<%= form_with(model: livro, html: { id: 'livro-form' }) do |form| %>
  <% if livro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(livro.errors.count, "error") %> prohibited this livro from being saved:</h2>

      <ul>
        <% livro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-6" style="padding:20px">
    <div class="col-md-6" style="display: flex; justify-content: center; margin-top:7rem; "> 
      <%= form.text_field :imagem_caminho, class: 'form-control', style:'width:15rem; height: 20rem; border-radius: 20px', placeholder:'LINK DA CAPA' %>
    </div>

    <div class="col-md-6" >
      <div class="row" >
        <div class="col-md-12" style="margin-top:2rem; margin-bottom: 1rem">
          <%= form.text_field :titulo, class: 'form-control', placeholder: 'Título do livro:*', style:'width:30rem;border-radius: 20px' %>
        </div>

        <div class="field col-md-12" style="margin-bottom: 1rem">
          <%= form.text_field :autores, class: 'form-control', placeholder: 'Autores:*', style:'width:30rem;border-radius: 20px' %>
        </div>

        <div class="field col-md-12" style="margin-bottom: 1rem">
          <%= form.text_field :editora, class: 'form-control' , placeholder: 'Editora:*', style:'width:30rem;border-radius: 20px'%>
        </div>
         <div class="field col-md-12" style="margin-bottom: 1rem">
          <%= form.text_field :idiomas, class: 'form-control' , placeholder: 'Idiomas:', style:'width:30rem;border-radius: 20px'%>
        </div>
         <div class="field col-md-12" style="margin-bottom: 1rem">
          <%= form.text_field :num_paginas, class: 'form-control' , placeholder: 'Nº de Páginas:', style:'width:30rem;border-radius: 20px'%>
        </div>
        <div class="field col-md-12" style="margin-bottom: 1rem; text-align:left">
          <%= form.label 'Ano de lançamento:*', style: "display: block" %>
        </div>
        <div class="field col-md-6" style="margin-bottom: 3rem; margin-right: 0;">
          <%= form.date_field :ano_lancamento, class: 'form-control', style:'width:15rem;border-radius: 20px'  %>
        </div>

        <div class="field actions col-md-12" >
          <%= form.submit 'Salvar', class: 'btn btn-info', style:'width:15rem;border-radius: 20px' %>
        </div>
      </div>
    </div>
  </div>

   <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('livro-form').addEventListener('submit', function(event) {
        if (!validateForm()) {
          event.preventDefault(); // Impede o envio do formulário se a validação falhar
        }
      });

      function validateForm() {
        var titulo = document.getElementById('livro_titulo').value;
        var autores = document.getElementById('livro_autores').value;
        var editora = document.getElementById('livro_editora').value;

        if (!titulo || !autores || !editora) {
          alert('Por favor, preencha todos os campos obrigatórios.');
          return false;
        }

        // Adicione outras validações conforme necessário

        return true; // Envie o formulário se todas as validações passarem
      }
    });
  </script>
<% end %>
